@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

.Boxcontainer {
  background-color: #e98580;
  opacity: 85%;
  padding: 15px;
  padding-bottom: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
  justify-content: space-around;
}

.CardDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.btn {
  border: solid 2px transparent;
  border-radius: 9999px;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
  color: white;
  right: 0rem;
  outline: none !important;
}

.btn:hover {
  color: #ffe3e3;
}
