.buttsBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.butts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  border: solid 2px transparent;
  border-radius: 9999px;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  cursor: pointer;
  color: #ffa0a0;
  right: 0rem;
  outline: none !important;
}

.buttons:hover {
  color: #ffe3e3;
}
