.paginate{
    border: solid 2px ;
    border-radius: 9999px;
    font-size: 1.5rem;
    bottom: 0.5rem;
    top: 0.5rem;
    background-color: whitesmoke;
    cursor: pointer;
    color: #ffa0a0;
    outline: none !important;
}

.paginate:hover {
    color: #ffe3e3;
  }